<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787925623727-stv0nu5d70iin0e1cadh7jevk0l147v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787925623727-stv0nu5d70iin0e1cadh7jevk0l147v6</string>
	<key>API_KEY</key>
	<string>AIzaSyCVAGTg_O9aQMBMgSDwJkQwZj_naAxhWAo</string>
	<key>GCM_SENDER_ID</key>
	<string>787925623727</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProject</string>
	<key>PROJECT_ID</key>
	<string>esal-a0535</string>
	<key>STORAGE_BUCKET</key>
	<string>esal-a0535.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787925623727:ios:37d5e17eb45a44d8c8855a</string>
</dict>
</plist>